@media (max-width: 991px) {
  header ul li .nav-link {
    font-size: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .details {
    font-size: 12px !important;
    width: 500px;
    margin-top: 10px;
  }
  .details-img {
    right: 0;
  }
  .store-border {
    border: 2px solid #cd5449;
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 657px) {
  header ul li .nav-link {
    font-size: 10px;
    margin-right: 5px;
  }
}
