@media (max-width: 991px) {
  /* custom css */

  /* navbar */
  header ul li .nav-link {
    font-size: 20px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  /* banner wrapper */
  .details {
    font-size: 12px !important;
    position: relative;
    top: 90px;
    left: -50px;
  }
  .store-border {
    border: 2px solid #cd5449;
    width: fit-content;
    margin: auto;
  }
}
@media (max-width: 657px) {
  /* navbar */
  header ul li .nav-link {
    font-size: 10px;
    margin-right: 5px;
  }
}
